@{
    var user = ClinicRazorWebApp.SessionExtendsions.Get<string>(Context.Session, "User");
    // var admin = Prn221_8_HoaLan.SessionExtensions.Get<String>(Context.Session, "Admin");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClinicRazorWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClinicRazorWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav_bar.css" asp-append-version="true" />
</head>
<body style="background: #C0C0C0;">
    @if (@* user != null *@ true)
    {
        <header>
            <div class="containerNav">
                <img src="https://cdn-icons-png.flaticon.com/512/6525/6525366.png"
                style="width: 60px;" alt="logo" class="logo">
                <nav>
                    <ul>
                        <li><a asp-page="/Customerpage/Index">Customer</a></li>
                        <li><a asp-page="/ClinicUpdatePage/Index">Clinic</a></li>
                        <li><a asp-page="/AppoinmentPage/Index">Appoinment</a></li>
                        <li><a asp-page="/DentistPage/Index">Dentist</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    } 




    @* BODY NHÚNG VÔ *@
    <div class="container" style="margin-left: 0px; margin-right: 0px">
        <main role="main" class="pb-3 mt-5" >
            @RenderBody()
        </main>
    </div>

    @* Foodter *@
    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - ClinicRazorWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/nav_bar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>