@{
    var user = ClinicRazorWebApp.SessionExtendsions.Get<string>(Context.Session, "User");
    // var admin = Prn221_8_HoaLan.SessionExtensions.Get<String>(Context.Session, "Admin");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClinicRazorWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClinicRazorWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav_bar.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="nav">
            <div class="navLogo">
                <img src="https://cdn-icons-png.flaticon.com/512/6525/6525366.png" alt="logo" height="75px" width="auto">
            </div>
            <div class="navItemContainer">
                @*                @if (ViewBag.Role != null)
                {
                <a asp-area="" asp-page="/" class="navItem" data-index="0">Pricing</a>
                <a asp-area="" asp-page="/About" class="navItem" data-index="2">About</a>
                <a asp-area="" asp-page="/Contact" class="navItem" data-index="3">Contact</a>
                }
                else
                {
                <a asp-area="" asp-page="/AuthorPage/Login" class="navItem" data-index="1">Login</a>
                } *@
                @if (user == null)
                {
                    <a asp-area="" asp-page="/Index" class="navItem" data-index="3">Login</a>
                }
                else
                {
                    <a asp-area="" asp-page="/CustomerPage/Index" class="navItem" data-index="1">Customer</a>
                    @* <a asp-area="" asp-page="/CustomerPage/Index" class="navItem" data-index="0">Customer</a> *@
                    <a asp-area ="" asp-page="/AuthorPage/Logout" class="navItem" data-index="0">Logout</a>
                }
               
                <div class="navItemActiveContainer">
                    <div class="navItemActive">
                        <div class="navItemActiveLeft"></div>
                        <div class="navItemActiveCenter"></div>
                        <div class="navItemActiveRight"></div>
                    </div>
                    <div class="navItemActive">
                        <div class="navItemActiveCopyLeft"></div>
                        <div class="navItemActiveCopyCenter"></div>
                        <div class="navItemActiveCopyRight"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    @* BODY NHÚNG VÔ *@
    <div class="container">
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>

    @* Foodter *@
    @*     <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - ClinicRazorWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/nav_bar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>